
<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        {% if check == 0 %}
            <H1>States</H1>
            <UL>
                {% for state in states.values()|sort(attribute="name") %}
                <LI>{{state.id}}: <B>{{state.name}}</B></LI>
                {% endfor %}
            </UL>
        {% else %}
            {% if exist == 1 %}
                <h1>State: {{ state_hold.name }}</h1>
                <h3>Cities:</H3>
                <UL>
                    {% for city in cities.values() | sort(attribute="name") %}
                        <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
                    {%- endfor %}
                </UL>
            {% else %}
                <H1>Not found!</H1>
            {% endif %}
        {% endif %}
    </BODY>
</HTML>